# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
*.user
*.suo
PerfLogs
/Org.Xepher.Kazuma/packages
/Org.Xepher.Kazuma/Org.Xepher.Kazuma/Org.Xepher.Kazuma.WindowsPhone/AppPackages
/Org.Xepher.Kazuma/Org.Xepher.Kazuma/Org.Xepher.Kazuma.WindowsPhone/BundleArtifacts
