<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="47786.WxBus.Beta" Publisher="CN=332D0718-8931-4CE1-BCF1-EE77E59C2F00" Version="1.5.0.4" />
  <mp:PhoneIdentity PhoneProductId="8c71cc7e-8802-4c2f-8659-fbd307acedae" PhonePublisherId="332D0718-8931-4CE1-BCF1-EE77E59C2F00" />
  <Properties>
    <DisplayName>WxBus.Beta</DisplayName>
    <PublisherDisplayName>心比天高小屁孩</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Org.Xepher.Kazuma.WindowsPhone.App">
      <m3:VisualElements DisplayName="WxBus.Beta" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="Org.Xepher.Kazuma.WindowsPhone" ForegroundText="light" BackgroundColor="transparent" ToastCapable="true">
        <m3:LockScreen Notification="badgeAndTileText" BadgeLogo="Assets\Images\Logo58-58.png" />
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>